@model IEnumerable<HappyLife.Models.ExerciseListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExerciseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeSpentOnActivity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ExerciseId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Activity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PersonName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TimeSpentOnActivity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ExerciseId }) |
        @Html.ActionLink("Details", "Details", new { id = item.ExerciseId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ExerciseId })
    </td>
</tr>
    }

</table>
