@model IEnumerable<HappyLife.Models.SleepListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Sleep Data</h2>

<p>
    @Html.ActionLink("Create New Entry", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoursSlept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WakeUpTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SleepId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoursSlept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WakeUpTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SleepId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SleepId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SleepId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SleepId })
            </td>
        </tr>
    }

</table>
