@model HappyLife.Models.PersonDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PersonDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HealthGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HealthGoals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStarted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStarted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exercises)
        </dt>

        @foreach (var exercise in Model.Exercises)
        {
            <dd>
                @Html.DisplayFor(modelItem => exercise.Activity) |
                @Html.DisplayFor(modelItem => exercise.TimeSpentOnActivity) |
                @Html.DisplayFor(modelItem => exercise.Date) |
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Sleeps)
        </dt>

        @foreach (var sleep in Model.Sleeps)
        {
            <dd>
                @Html.DisplayFor(modelItem => sleep.HoursSlept) |
                @Html.DisplayFor(modelItem => sleep.WakeUpTime) |
                @Html.DisplayFor(modelItem => sleep.Date) |
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
